.priductListPAge{
    padding: 10px;
  
}
.productListContainer{
    position: fixed;
    top: 3rem;
    width: 100%;
    font-size: x-large;
    text-align: left;
    color: rgb(93, 92, 92);
}
.productListContainer input{
    
}
.search{
    font-size: large;
    color: rgb(93, 92, 92);
    position: fixed;
    top: 5px;
    left: 1%;
    width: 96%;
    height: 2rem;
    border-radius: 5px;
    border-style: 1px rgb(50, 49, 49);
    border-width: thin;    

}
.element{
    margin-bottom: 0.7rem;
}
.productListContainer {
    transform: translateX(80%);
    animation: side 0.6s forwards;
    height: 100%;
}
@keyframes side {
    0% {
        transform: translateX(80%);
    }

    100% {
        transform: translateX(0);
    }
}
.checkBox{
    position:absolute;
    right: 25px;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.checkBox:active{
    transform: scale(1.3,1.3);
    animation: onClick 0.3s forwards;
}
@keyframes onClick {
    0%{
        transform: scale(1,1);
    }
    30%{
        transform: scale(1.3,1.3);
    }
    100%{
        transform: scale(1,1);
    }
}